.home-container {
    padding: 0 20px 20px 20px;
}
.personal-info{
    margin-bottom: 20px;
}
.personal-info:after{
    content: ".";
    display: block;
    height:0;
    visibility: hidden;
    clear: both;
}

.photo {
    float: left;
}

.data-info {
    width: 70%;
    float: right;
    text-align: center;
}

.fullname{
    font-weight: bold;
    text-transform: uppercase;
}

.data-header {
    font-style: italic;
    display: inline-block;
    width: 150px;
    font-size: 110%;
    text-align: right;
    margin-right: 10px;
}

.data-value {
    display: inline-block;
    font-weight: bold;
    margin-left: 10px;
    font-size: 110%;
    width: 300px;
    text-align: left;
}

ul.skills{
 padding-left: 0px;
}
